<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>XLsuite Cluster Status</title>
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript" charset="utf-8"><!--
    google.load("jquery", "1.2");
    google.setOnLoadCallback(function() {
      $(".graph table").hide();
      $(".graph img").click(function() { $(this).parent(".graph").find("table").toggle(); });
      $(".detailed").click(function() { $(this).find(".details").toggle(); });

      // Show what's JS only and which was hidden.
      $("#open-all").show().addClass("active");
      $("#close-all").addClass("active");
      $(".detailed").addClass("active");
      $(".graph img").addClass("active");

      function toggleDetailsFuture(root) {
        $(".detailed").find(".details").toggle()
      }

      $("#open-all").click(function() { $(this).toggle(); $("#close-all").toggle(); toggleDetailsFuture($(this)); });
      $("#close-all").click(function() { $(this).toggle(); $("#open-all").toggle(); toggleDetailsFuture($(this)); });
    });
  // --></script>
  <style type="text/css">
    <%= erb(:stylesheet) %>
  </style>
</head>
<body>
  <h1>XLsuite Cluster Status</h1>
  <p>Last Updated: <%= @last_update.strftime("%Y-%m-%d %H:%M") %>+0000</p>
  <div class="group">
    <h2>Top 10 domains</h2>
    <div class="graph">
      <h3>In the last 15 minutes</h3>
      <%= partial(:hits_table, :locals => {:top10 => @top10_15min}) %>
    </div>
  </div>
  <div class="group">
    <h2>Load Average</h2>
    <div class="graph">
      <h3>In the last minute</h3>
      <%= partial(:loadavg, :locals => {:loadavg => @loadavg["1min"]}) %>
    </div>
  </div>
  <%= partial(:disk_free) %>
  <div id="section2">
    <%= partial(:hits_per_controller) %>
    <%= partial(:current_futures) %>
    <%= partial(:next_futures) %>
  </div>
</boby>
</html>
