<tr>
  <td><%= disk.first.split("@").first %></td>
  <td><%= number_to_human_size(disk[1] + disk[2]) %></td>
  <td><%= number_to_human_size(disk[1]) %></td>
  <td><%= number_to_human_size(disk.last) %></td>
  <td><%= number_to_percentage(disk[2] / (disk[1] + disk[2]).to_f * 100.0) %></td>
</tr>
