<div class="group">
  <h2>Top 10 domains</h2>
  <div class="graph">
    <h3>In the last minute (<%= number_with_delimiter(@top10_1min.map(&:last).sum) %> hits)</h3>
    <%= partial(:hits_table, :locals => {:top10 => @top10_1min}) %>
  </div>
  <div class="graph">
    <h3>In the last 5 minutes (<%= number_with_delimiter(@top10_5min.map(&:last).sum) %> hits)</h3>
    <%= partial(:hits_table, :locals => {:top10 => @top10_5min}) %>
  </div>
  <div class="graph">
    <h3>In the last 15 minutes (<%= number_with_delimiter(@top10_15min.map(&:last).sum) %> hits)</h3>
    <%= partial(:hits_table, :locals => {:top10 => @top10_15min}) %>
  </div>
</div>
