<div class="group">
  <h2>Top 10 domains</h2>
  <div class="graph">
    <h3>In the last minute</h3>
    <img src="<%= @hits_per_domain_1min %>"/>
    <table>
      <thead>
        <tr>
          <th>Domain</th>
          <th>Hits</th>
        </tr>
      </thead>
      <tbody>
        <% @top10_1min.each do |domain, hits| %>
        <tr>
          <td><%= domain %></td>
          <td><%= hits %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="graph">
    <h3>In the last 5 minutes</h3>
    <img src="<%= @hits_per_domain_5min %>"/>
    <table>
      <thead>
        <tr>
          <th>Domain</th>
          <th>Hits</th>
        </tr>
      </thead>
      <tbody>
        <% @top10_5min.each do |domain, hits| %>
        <tr>
          <td><%= domain %></td>
          <td><%= hits %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="graph">
    <h3>In the last 15 minutes</h3>
    <img src="<%= @hits_per_domain_15min %>"/>
    <table>
      <thead>
        <tr>
          <th>Domain</th>
          <th>Hits</th>
        </tr>
      </thead>
      <tbody>
        <% @top10_15min.each do |domain, hits| %>
        <tr>
          <td><%= domain %></td>
          <td><%= hits %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
