<div class="group">
  <h2>Top 10 domains</h2>
  <div class="graph">
    <h3>In the last minute</h3>
    <%= Gchart.pie(:data => @top10_1min.map(&:last), :legend => @top10_1min.map(&:first), :size => "360x200", :format => "image_tag") %>
    <table>
      <thead>
        <tr>
          <th>Domain</th>
          <th>Hits</th>
        </tr>
      </thead>
      <tbody>
        <% @top10_1min.each do |domain, hits| %>
        <tr>
          <td><%= domain %></td>
          <td><%= number_with_delimiter(hits) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="graph">
    <h3>In the last 5 minutes</h3>
    <%= Gchart.pie(:data => @top10_5min.map(&:last), :legend => @top10_5min.map(&:first), :size => "360x200", :format => "image_tag") %>
    <table>
      <thead>
        <tr>
          <th>Domain</th>
          <th>Hits</th>
        </tr>
      </thead>
      <tbody>
        <% @top10_5min.each do |domain, hits| %>
        <tr>
          <td><%= domain %></td>
          <td><%= number_with_delimiter(hits) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="graph">
    <h3>In the last 15 minutes</h3>
    <%= Gchart.pie(:data => @top10_15min.map(&:last), :legend => @top10_15min.map(&:first), :size => "360x200", :format => "image_tag") %>
    <table>
      <thead>
        <tr>
          <th>Domain</th>
          <th>Hits</th>
        </tr>
      </thead>
      <tbody>
        <% @top10_15min.each do |domain, hits| %>
        <tr>
          <td><%= domain %></td>
          <td><%= number_with_delimiter(hits) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
